*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important; 
}


.container{
    background-image: url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-position: top right,bottom left;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    position: relative;
    margin: auto; 
}

.contenaier-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container{
    width: 1400px;
    height: 700px;
    position:relative ;
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container1 h2{
    text-align: center;
    font-size: 38px;
    margin-bottom:20px;
    color:  hsl(233, 13%, 49%);
    
   
}

.price-row{
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-self: center;   
      

  }
  .price-col {
    background: white;
    text-align: center; 
    margin: 6px;
    padding: 30px 80px ;
    border-radius: 7px;
    cursor: pointer; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; /* Add transition for smooth effect */
}


.price-col:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom,rgb(159,162,240), rgb(108,112,222)); 
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 80px 30px  80px;

     
}
.price-col:hover button {
    color:white;
}
.price-col p{
    font-size: 20px;
    margin-bottom: 30px;

}
.price-col h3 {
   font-size: 44px;
   margin: 10px 0 10px;
  
}

.price-col ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px; 
    margin: 0; 
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.price-col button {
    width: 100%;
    padding: 5px 10px;
    background-image: linear-gradient(to right, rgb(159, 162, 240), rgb(108, 112, 222));
    border: 1px solid hsl(237, 63%, 64%);
    border-radius: 3px;
    margin-top: 30px;
    font-weight: 100;
    font-size: 12px;
    
   
   
}
.price-col button a{
    color:white !important;

}




.price-col a{
 text-decoration: none;
}
hr{
    color: #fff;
    opacity:0.3;
}




.plan-change{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}
.plan-change p{
   
    color:hsl(234, 14%, 74%);
    
}


.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    
   
}
.slider{
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    background: linear-gradient(to right, rgb(159, 162, 240), rgb(108, 112, 222));
    transition:.4s ;
    border-radius: 34px;;
}
.switch input {
    display: none;
}
.slider::before{
    position:absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked +.slider{
    background:#ccc;
}
input:checked+.slider::before{
    transform: translate(30px);
}



@media screen and (max-width: 375px) {
    .container {
        width: 90%; 
        height: auto;
    }

    .price-col {
        padding: 40px 20px; 
    }
    .price-col:hover {
    
     padding: 20px 25px ;
    
         
    }
}
@media screen and (max-width: 425px) {
    .container {
        width: 90%; 
        height: auto;
    }

    .price-col {
        padding: 50px 50px; 
    }
    .price-col:hover {
    
     padding: 50px 50px ;   
    }

}
